[submodule "/Users/harishn/Desktop/Hypha/Git_Tr/static-website-clone/hugobeautify"]
	path = /Users/harishn/Desktop/Hypha/Git_Tr/static-website-clone/hugobeautify
	url = https://github.com/Harish-Hypha/hugobeautify.git
